{{#partial "content"}}
<style>
body{
background-image:url("https://www.barraques.cat/pngfile/big/47-473962_related-wallpapers-marvels-agents-of-shield-season-1.jpg");
background-repeat:no-repeat;
background-size:cover;
}
</style>
<div class="container">
      <h1>Squad list!</h1>

                        {{#if squads}}
                              {{#each squads }}
                               <p>Squad</p>
                               <p>{{ squadName }} </p>
                               <p>{{ maxSize }} </p>
                               <p>{{ cause }} </p>

                               <a href="/squads/{{id}}">read more...</a>
                              {{/each}}
                          {{else}}
                           <p>No Squads!</p>
                          {{/if}}
</div>
{{/partial}}

{{> layout.hbs}}