{{#partial "content"}}
<style>
body{
background-image:url("https://images8.alphacoders.com/888/thumb-1920-888328.jpg");
background-repeat:no-repeat;
background-size:cover;
}
<div class="container">
             <h1>Hero list!</h1>

               {{#if heroes}}
                   {{#each heroes }}
                    <p>HERO</p>
                    <p>{{ name }} </p>
                    <p>{{ age }} </p>
                    <p>{{ power }} </p>
                    <p>{{ weakness }} </p>
                    <button type="button"><a href="/squads/new">add hero to squad</a></button>
                    <a href="/heroes/{{id}}">read more...</a>
                   {{/each}}
               {{else}}
                <p>No heroes!</p>
               {{/if}}
</div>

{{/partial}}

{{> layout.hbs}}